.notePad{
    height: 100%;
    width: 100%;
}
#notePadtopBar{
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #ECE9D8;
}
#notePadtopBar>ul{
    width: 100%;
}
#notePadtopBar>ul>.navItem{
    height: 100%;
    padding: 10px; 
    display: inline-block;
}
#notePadtopBar>ul>.navItem:hover{
    background-color: #1660E8;
    color: #FFFFFF;
}
#notePadContent{
    min-width: 100%;
    min-height: 100%;
    padding: 6px;
    font-size: 30px;

    background-color: #DAE4D9;
}